<!-- Rodapé -->
<footer id="rodapes">
    <img class="ilustra" src="/images/rodape.png" alt="logo ilustrativo do Rodapé">
    <div class="boxs-conts">
        <div class="boxs">
            <h2>Institucional</h2>
            <ul>
                <li><a href="#">Quem Somos</a></li>
                <li><a href="#">Termos de compra</a></li>
                <li><a href="#">Politica de Seguraça</a></li>
            </ul>
        </div>
        <div class="boxs">
            <h2>Ajuda</h2>
            <ul>
                <li><a href="#">Como Comprar</a></li>
                <li><a href="#">Pagamentos</a></li>
                <li><a href="#">Fale Conosco</a></li>
            </ul>
        </div>
        <div class="boxs">
            <h2>Cliente</h2>
            <ul>
                <li><a href="#">Minha conta</a></li>
                <li><a href="#">Meu Pedido</a></li>
                <li><a href="#">Localizar Pedido</a></li>
            </ul>
        </div>
    </div>
    <footer>
        <div class="sites">
            <h2>Redes Sociais</h2>
        </div>
        <div class="sites">
            <ul class="sociais">
                <li class="social">
                    <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                </li>
                <li class="social">
                    <a href="#"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
                </li>
                <li class="social">
                    <a href="#"><i class="fa fa-whatsapp" aria-hidden="true"></i></a>
                </li>
            </ul>
        </div>
        <div class="copy">
            <h1>Copyright © 2023. Todos os Direitos Reservados.</h1>
        </div>
    </footer>
</footer>
