<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/admin.css">
  <script src="../public/scripts.js/functionAdmin.js"></script>
  <title>Painel de Administrador</title>
</head>

<body>
  <header id="head">
    <h1>Olá, Administrador ${xx}</h1>
    <a href="http://">
      <h1>Logar</h1>
    </a>
    <a href="http://">
      <h1>Sair</h1>
    </a>
  </header>

  <div class="admin-panel">

    <div class="slidebar">
      <ul>
        <li><a href="" name="update">Atualizar</a></li>
        <li><a href="" name="create">Criar</a></li>
        <li><a href="" name="delet">Deletar</a></li>
        <li><a href="" name="list">Listar</a></li>
        <li><a href="" name="outros">Outros</a></li>
      </ul>
    </div>

    <div class="main">
      <div class="update">
        <h2>Atualizar</h2>
        <input type="NomeProduto" placeholder="Nome do Produto...">
        <input type="DescricaoProduto" placeholder="Descrição do Produto">
        <input type="ImagemProduto" placeholder="Imagem do Produto">
        <input type="PrecoProduto" placeholder="Preco do Produto">
        <button type="enviar">Enviar</button>
      </div>
    </div>

    <!-- <div class="main">
      <div class="create">
        <h2>Criar</h2>
        <input type="NomeProduto" placeholder="">
        <input type="DescricaoProduto" placeholder="">
        <input type="ImagemProduto" placeholder="">
        <input type="PrecoProduto" placeholder="">
        <button type="Enviar"></button>
      </div>
    </div>

    <div class="main">
      <div class="delet">
        <h2>Deletar</h2>
        <input type="NomeProduto" placeholder="">
        <input type="DescricaoProduto" placeholder="">
        <input type="ImagemProduto" placeholder="">
        <input type="PrecoProduto" placeholder="">
        <button type="Enviar"></button>
      </div>
    </div>

    <div class="main">
      <div class="list">
        <h2>Listar</h2>
        <input type="NomeProduto" placeholder="">
        <input type="DescricaoProduto" placeholder="">
        <input type="ImagemProduto" placeholder="">
        <input type="PrecoProduto" placeholder="">
        <button type="Enviar"></button>
      </div>
    </div>

    <div class="main">
      <div class="outros">
        <h2>Outros</h2>
        <input type="" placeholder="">
        <input type="" placeholder="">
        <input type="" placeholder="">
        <input type="" placeholder="">
        <button type="Enviar"></button>
      </div>
    </div>  -->

  </div>
  <script></script>
</body>

</html>
