<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Categorias</title>
    <%- include('./partials/style') %>
        <link rel="stylesheet" href="/stylesheets\estiloPaginaCategorias.css">
        <link rel="shortcut icon" href="/img/favicon-32x32.png" type="image/x-icon">
</head>

<body>

    <%- include('./partials/header') %>

        <div class="subtitulo">

            <h2>Categorias</h2>

        </div>

        <div class="categorias">


            <a href="/kit-upgrade" class="item-link">
                <div class="item">
                    <img src="https://img.terabyteshop.com.br/dep-pop/kit-upgrade.png" alt="Kit Upgrade">
                    <p>Kit Upgrade</p>
                </div>
            </a>
            <a href="/pc-gamer" class="item-link">
                <div class="item">
                    <img src="https://img.terabyteshop.com.br/dep-pop/pc-gamer.png" alt="PC Gamer">
                    <p>PC Gamer</p>
                </div>
            </a>
            <a href="/hardware" class="item-link">
                <div class="item">
                    <img src="https://img.terabyteshop.com.br/dep-pop/hardware.jpg" alt="Hardware">
                    <p>Hardware</p>
                </div>
            </a>
            <a href="/perifericos" class="item-link">
                <div class="item">
                    <img src="https://img.terabyteshop.com.br/dep-pop/--perifericos.png" alt="Periféricos">
                    <p>Periféricos</p>
                </div>
            </a>
            <a href="/gabinetes" class="item-link">
                <div class="item">
                    <img src="https://img.terabyteshop.com.br/dep-pop/gabinetes.png" alt="Gabinete">
                    <p>Gabinete</p>
                </div>
            </a>
            <a href="/refrigeracao" class="item-link">
                <div class="item">
                    <img src="https://img.terabyteshop.com.br/dep-pop/-refrigeracao.png" alt="Refrigeração">
                    <p>Refrigeração</p>
                </div>
            </a>
            <a href="/monitores" class="item-link">
                <div class="item">
                    <img src="https://img.terabyteshop.com.br/dep-pop/-monitor.png" alt="Monitor Gamer">
                    <p>Monitor Gamer</p>
                </div>
            </a>
            <a href="/cadeira-gamer" class="item-link">
                <div class="item">
                    <img src="https://img.terabyteshop.com.br/dep-pop/cadeira-gamer.jpg" alt="Cadeira Gamer">
                    <p>Cadeira Gamer</p>
                </div>
            </a>
            <a href="/mesa-gamer" class="item-link">
                <div class="item">
                    <img src="https://img.terabyteshop.com.br/dep-pop/mesa-gamer.jpg" alt="Mesa Gamer">
                    <p>Mesa Gamer</p>
                </div>
            </a>
            <a href="/smartphone" class="item-link">
                <div class="item">
                    <img src="https://img.terabyteshop.com.br/dep-pop/smartphone.jpg" alt="Smartphone">
                    <p>Smartphone</p>
                </div>
            </a>
            <a href="/rede-e-internet" class="item-link">
                <div class="item">
                    <img src="https://img.terabyteshop.com.br/dep-pop/rede-e-internet.jpg" alt="Rede e Internet">
                    <p>Rede e Internet</p>
                </div>
            </a>
            <a href="/notebooks" class="item-link">
                <div class="item">
                    <img src="https://img.terabyteshop.com.br/dep-pop/notebook.png" alt="Notebook">
                    <p>Notebooks</p>
                </div>
            </a>
        </div>
        <%- include('./partials/footer') %>
</body>

</html>
