<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/home.css">
    <%- include('./partials/style') %>
    <link rel="shortcut icon" href="/img/favicon-32x32.png" type="image/x-icon">
     <title>BigBen</title>
</head>
<body>
  <%- include('./partials/header') %>

      <section>
          <h1>Departamentos</h1>
                <div class="Container-card-1">
                  <div class="cards">
                    Hardware
                  <img src="img/Hadware.png"  >

            </div><!--cards-->


            <div class="cards">
                <p class="categorias-cards">Perifericos</p>
                <img src="img/Perifericos.png"  >
            </div><!--cards-->


            <div class="cards">
                 <p class="categorias-cards">Games</p>
                <img src="img/Games.png" >
            </div><!--cards-->

            <div class="cards">
                  <p class="categorias-cards">TV</p>
                        <img src="img/TV.png" >
            </div><!--cards-->

            <div class="cards">
                    <p class="categorias-cards">Celulares smartphones</p>
                        <img src="img/celulares smartphones.png">
            </div><!--cards-->

            <div class="cards">
                    <p class="categorias-cards">Computadores</p>
                        <img src="img/Computadores.png">
            </div><!--cards-->


            <div class="cards">
                    <p class="categorias-cards">Serviços digitas e Softwares</p>
                        <img src="img/Serviços digitas e Softwares.png">
            </div><!--cards-->


                        <div class="cards">
                    <p class="categorias-cards">Tablets Ipads</p>
                        <img src="img/Tabets Ipads.png">
            </div><!--cards-->
        </div>
    </section>

    <h1 class="titulo-produtos-em-Destaque">Produtos em Destaque</h1>
     <main>
         <div class="gallery-container">
             <a href="..." class="gallery-items">
                 <img src="/img/Monitor-gamer.jpg" alt="#"/>
                 <h3 class="Preco-Produtos-destaque">R$: 1299,89</h3>
                 <h4 class="Descricao-Produtos-destaque">Monitor Gamer LG Full HD, 144 Hz, HDMI</h4>
             </a>
             <a href="..." class="gallery-items">
                 <img src="img/notebook-sansung.jpg" alt="#">
                 <h3 class="Preco-Produtos-destaque">R$: 3299,99</h3>
                 <h4 class="Descricao-Produtos-destaque">Notebook Samsung ICore i5-1135G7, 8GB RAM</h4>
             </a>
             <a href="..." class="gallery-items">
                 <img src="img/mouse-gamer.jpg" alt="#"/>
                 <h3 class="Preco-Produtos-destaque">R$: 259,99</h3>
                 <h4 class="Descricao-Produtos-destaque">Mouse Gamer Razer, Mechanical Switch</h4>
             </a>
             <a href="..." class="gallery-items">
                 <img src="/img/nintendo-switch-32gb-1x-joycon-cinza.jpg" alt="#">
                 <h3 class="Preco-Produtos-destaque">R$: 219,89</h3>
                 <h4 class="Descricao-Produtos-destaque">Nintendo Switch 32GB, 1x Joycon, Cinza</h4>
             </a>
             <a href="..." class="gallery-items">
                 <img src="/img/Placa-de-Video-Gigabyte-AMDRadeon-RX6700-XT-Eagle.jpg" alt="#">
                 <h3 class="Preco-Produtos-destaque">R$: 2999,89</h3>
                 <h4 class="Descricao-Produtos-destaque">Placa de Vídeo Gigabyte AMD Radeon RX 6700 XT</h4>
             </a>
         </div>
     </main>
     <%- include('./partials/footer') %>

</body>
</html>
