<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/loginForm.css">
  <link rel="shortcut icon" href="/img/favicon-32x32.png" type="image/x-icon">
  <title>login</title>
</head>

<body>
  <div class="main-containerForm">
    <form id="login-Form" method="post" action="/login">
      <h2>Faça login para acessar</h2>
      <hr>

      <div class="half-box spacing">
        <label for="email"><b>Email</b></label>
        <input type="text" name="email">

        <% if(locals.errors && errors.email) { %>
        <div class="error-validation"><%= errors.email.msg %></div>
        <% } %>

      </div>

      <div class="half-box spacing">
        <label for="psw"><b>Senha</b></label>
        <input type="password" name="Senha">

        <% if(locals.errors && errors.Senha) { %>
        <div class="error-validation"><%= errors.Senha.msg %></div>
        <% } %>

      </div>

      <div class="full-box">
        <input type="submit" id="btn-submit" value="login">
      </div>
      <div class="full-box">
        <a href="/login">
          <input type="submit" id="btn-submit" value="Cadastre-se">
        </a>
      </div>
    </form>
  </div>
</body>

</html>
