*{
  padding: 0;
  margin: 0;
  font-family: monospace;
  box-sizing: border-box;
}

.header {
  background-color: #FFF159;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 0px 25px;
  height: 80px;
  align-items: center;
}

.logo img{
  height: 80px;
}


.search input{
  height: 35px;
  width: 100%;
  border: none;
  outline: none;
  border-radius: 10px;
  padding: 10px;
  font-size: 16px;
}

.icons{
  text-align: right;
}

.icons .fa{
  color: #000;
  text-decoration: none;
  font-size: 22px;
  padding: 0px 10px;
  transition: 0.5s;
}

.fa:hover{
  color: #FFAD01;
}

.links{
  background-color: #FFF159;
  display: none;
}

.links a{
  color: #000000;
  text-decoration: none;
  display: block;
  padding: 15px;
  font-size: 18px;
}

.showmylinks{
  display: block;
}

@media only screen and (max-width:600px){
  .header{
      grid-template-columns: auto;
      height: 120px;
      padding: 15px 5px;
  }
  .logo img{
      width: 110px;
      height: auto;
  }

  .search{
      grid-column: 2;
      grid-row: 2;
      grid-column: 1/span 2;
      margin-bottom: px;
  }
  .icons .fa{
      padding: 5px;
  }
}
