

*{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    list-style: none;

}


.icon span{
    font-size: 2rem;
    cursor: pointer;
}

.icon span:hover{
    color: #c8815f;
}



section{
    padding-top: 1rem;
}

section h1{
    align-items: center;
    text-align: center;
    font-size: 2rem;

}

.Container-card-1{
    display: flex;
    margin-top: 50px;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
    padding-top: 2rem;
    grid-template-columns: repeat(4, 3fr);
    grid-template-rows: repeat(4, 10vw);
    grid-gap: 20px;
    text-align:center;
}


.cards img{
    width: 450px;
    height: 100px;
    transition: 0.35s ease;
    width: 100%;
    height: 100%;
    object-fit:contain;

}


.cards img:hover{
     transform: scale(0.9) translateY(-5px);
     cursor: pointer;
}



/* .Container-promoções{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    align-items: center;
    text-align: center;
    margin-top: 3rem;

}

.Container-promoções img:hover{
    transform: scale(0.9) translateY(-5px);
    cursor: pointer;
    transition: 0.3s;

}

.Promocão img{
    width: 250px;
    height: auto;
}

.Promocão{
background-color: #ff6500;
    color: #000;
} */

.titulo-produtos-em-Destaque{
    text-align: center;
}

.gallery-container{
    display: flex;
    margin-bottom: 60px;
    margin: 60px 30px;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 2vw;
    padding: 1 1vw;
}
.gallery-items{
    width: 300px;
    height: 300px;
    padding: 0px 30px 60px;
    border: 6px solid rgb(0, 0, 0);
    box-shadow: 2px 2px 2px #0006;
    flex-grow: 1;
    transition: transform .5s linear;
}
.gallery-items img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gallery-items:hover{
    transform: scale(1.1);
}

.Descricao-Produtos-destaque {
    text-decoration: none;
    text-align: center;
    color: #111;
}

.Preco-Produtos-destaque{
    text-decoration: none;
    text-align: center;
    color: #eb0e0e;
}
